<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Define application settings here -->
		<add key="ConnectionString" value="Server=10.132.10.104:30015;UserName=SYSTEM;Password=GusSERta1;CS=CONS_MANAGEMENT" />
		<add key="CompareAmountsQuery" value="..\DatabasesAddon\DatabasesAddon\AddonFile\CompareAmountsQuery.txt" />
		<add key="CompareCashFlowsQuery" value="..\DatabasesAddon\DatabasesAddon\AddonFile\CompareCashFlowsQuery.txt" />
	</appSettings>
</configuration>